# Pycharm config files
**/.idea

# Gradle build files
**/.gradle/

# Node packages imported by NPM
**/node_modules/

# Dotenv environment variables configuration files
**/.env

# MacOS Desktop Service files
**/.DS_Store
