<div class="row">
  <div class="col-md-12">
    <form>

      <!-- name and amount textboxes -->
      <div class="row">
        <div class="col-md-5 form-group">
          <label for="ingredient_name">Name</label>
          <input type="text" id="ingredient_name" class="form-control" #ingredientName>
        </div>
        <div class="col-md-2 form-group">
          <label for="ingredient_amount">Amount</label>
          <input type="number" id="ingredient_amount" class="form-control" #ingredientAmount>
        </div>
      </div>

      <!-- buttons to create/delete/add ingredients in the shopping list -->
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary mx-1" type="button" (click)="onClear(ingredientName, ingredientAmount)">Clear</button>
          <button class="btn btn-danger mx-1" type="button"  (click)="onDelete(ingredientName, ingredientAmount)">Delete</button>
          <button class="btn btn-success mx-1" type="button" (click)="onAdd(ingredientName, ingredientAmount)">Add</button>
        </div>
      </div>

    </form>
  </div>
</div>
