  <!-- row with a single column with full width for all screen sizes -->
  <div class="row text-center">
  <div class="col-md-12">
    <button class="btn btn-success my-3" (click)="onCreateRecipe()">Create Recipe</button>
    <button class="btn btn-success my-3 mx-2" (click)="onLoadSampleRecipes()">Load Sample Recipes</button>
  </div>
</div>

<div class="row mt-2">
  <div class="col-md-12">
    <app-component-for-test></app-component-for-test>
  </div>
</div>

<!-- row with a single column with full width for all screen sizes -->
<div class="row">
  <div class="col-md-12">
    <div class="list-group">
        <app-recipe-item *ngFor="let recipe of myRecipes; let recipeId = index"
        [recipe]="recipe" [recipeId]="recipeId"></app-recipe-item>
    </div>
  </div>
</div>
